<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome To Main Page
    <a href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=shops_r%20email_r%20listings_r&client_id=6xhwtnjudbrqsjpocccu6dvx&state=co2ac&code_challenge=D929lsF1pnFFYr7jhLkfPh1QnoUBeDO0F9dm3ROe584&code_challenge_method=S256">
        Authenticate with Etsy
</body>
</html>