<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hi, <%= first_name %>
    <form action="/fetch-reviews" method="POST">
        <button type="submit">Fetch Etsy Reviews</button>
    </form>
    <a href="/ad?user_id=<%=user_id%>&access_token=<%=access_token%>&scope=listings_r">Ad SAYFASI</a>
    <h1><%=user_id%></h1>
</body>
</html>